@use "@lib/font.scss" with (
  $fonts-folder: "/assets/fonts"
);

@include font.load-font("Raleway");

$light-1: #f0f0f0;
$light-2: #d8d8d8;
$light-3: #c0c0c0;
$light-accent: #41b883;
$light-error: #f09d9d;
$dark-1: #202020;
$dark-2: #282828;
$dark-3: #383838;
$dark-accent: #2a7955;
$dark-error: #cf0404;

:root {
  --spacing-nm-200: #{clamp(font.rem(16), 1vw, font.rem(20))};
  --spacing-nm-100: #{clamp(font.rem(10), 0.5vw, font.rem(12))};

  --p-nm-200: #{clamp(font.rem(20), 2vw, font.rem(24))};
  --p-nm-100: #{clamp(font.rem(14), 1vw, font.rem(16))};

  --radius-nm-100: #{clamp(font.rem(4), 0.2vw, font.rem(6))};

  --font-body: Raleway, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-background-1: #{$light-1};
  --color-background-2: #{$light-2};
  --color-background-3: #{$light-3};
  --color-text-1: #{$dark-1};
  --color-text-2: #{$dark-2};
  --color-text-3: #{$dark-3};
  --color-accent: #{$dark-accent};
  --color-error: #{$dark-error};

  @media (prefers-color-scheme: dark) {
    --color-background-1: #{$dark-1};
    --color-background-2: #{$dark-2};
    --color-background-3: #{$dark-3};
    --color-text-1: #{$light-1};
    --color-text-2: #{$light-2};
    --color-text-3: #{$light-3};
    --color-accent: #{$light-accent};
    --color-error: #{$light-error};
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background-1);
  color: var(--color-text-1);
  font-family: var(--font-body);
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

main#app {
  padding: var(--spacing-nm-100);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

a, strong, b {
  color: var(--color-accent);
}

strong, b {
  font-weight: bold;
}

input, button, textarea, option {
  font-family: var(--font-body);
  border: 0;
}

button {
  cursor: pointer;
}
